In [ ]:
!pip install pandas #do once and not to again

Collecting pandas
  Downloading pandas-1.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 613 kB/s eta 0:00:01
Collecting numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10"
  Downloading numpy-1.21.4-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 11.6 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.4 pandas-1.3.4

In [1]:
import pandas as pd
import numpy as np
# run every time

In [42]:
# for use in Google Colab
from google.colab import files
uploaded = files.upload()

Saving 10010222.tcd.csv to 10010222.tcd.csv
Saving 10020222.tcd.csv to 10020222.tcd.csv
Saving 10270122.tcd.csv to 10270122.tcd.csv
Saving 10280122.tcd.csv to 10280122.tcd.csv
Saving 10290122.tcd.csv to 10290122.tcd.csv
Saving 10300122.tcd.csv to 10300122.tcd.csv
Saving 10310122.tcd.csv to 10310122.tcd.csv

In [43]:
!ls

10010222.tcd.csv  10270122.tcd.csv  10290122.tcd.csv  10310122.tcd.csv
10020222.tcd.csv  10280122.tcd.csv  10300122.tcd.csv  sample_data

In [41]:
#remove any existing csv
!ls
!rm *.csv

40010222.tcd.csv  40280122.tcd.csv  40310122.tcd.csv
40020222.tcd.csv  40290122.tcd.csv  M6.csv
40270122.tcd.csv  40300122.tcd.csv  sample_data

In [ ]:
!cd /home/toss/Downloads/notebook/csv
!ls
# navigate to csv folder and list items

10231121.tcd.csv

In [48]:
df2=0

In [49]:
import glob
import os

df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "*.csv"))))
df

     Geographic Address  CO Address  ...  Headway(Lane 6)  Headway(Lane 7)
0              M1/4589A          12  ...               -1               -1
1              M1/4589A          12  ...               -1               -1
2              M1/4589A          12  ...               -1               -1
3              M1/4589A          12  ...               -1               -1
4              M1/4589A          12  ...               -1               -1
...                 ...         ...  ...              ...              ...
2875           M1/4589B          12  ...               -1               -1
2876           M1/4589B          12  ...               -1               -1
2877           M1/4589B          12  ...               -1               -1
2878           M1/4589B          12  ...               -1               -1
2879           M1/4589B          12  ...               -1               -1

[20160 rows x 40 columns]

In [ ]:
df = pd.read_csv(file)
df
# load and show csv in dataframe

,Geographic Address,CO Address,LCC Address,Transponder Address,Device Address,Date,Time,Number of Lanes,Flow(Category 1),Flow(Category 2),...,Occupancy(Lane 5),Occupancy(Lane 6),Occupancy(Lane 7),Headway(Lane 1),Headway(Lane 2),Headway(Lane 3),Headway(Lane 4),Headway(Lane 5),Headway(Lane 6),Headway(Lane 7)
0,M1/4530A,12,7,113,231,23/11/21,00:00,4,3,1,...,-1,-1,-1,-1,77,-1,-1,-1,-1,-1
1,M1/4530A,12,7,113,231,23/11/21,00:01,4,4,1,...,-1,-1,-1,-1,246,-1,11,-1,-1,-1
2,M1/4530A,12,7,113,231,23/11/21,00:02,4,3,2,...,-1,-1,-1,-1,242,-1,0,-1,-1,-1
3,M1/4530A,12,7,113,231,23/11/21,00:03,4,9,1,...,-1,-1,-1,-1,72,238,-1,-1,-1,-1
4,M1/4530A,12,7,113,231,23/11/21,00:04,4,4,2,...,-1,-1,-1,-1,130,-1,0,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635,M1/4634B,12,7,110,206,23/11/21,23:55,4,3,0,...,-1,-1,-1,175,0,0,0,-1,-1,-1
8636,M1/4634B,12,7,110,206,23/11/21,23:56,4,2,0,...,-1,-1,-1,138,0,0,0,-1,-1,-1
8637,M1/4634B,12,7,110,206,23/11/21,23:57,4,4,0,...,-1,-1,-1,99,0,0,0,-1,-1,-1
8638,M1/4634B,12,7,110,206,23/11/21,23:58,4,5,0,...,-1,-1,-1,181,-1,0,0,-1,-1,-1
8639,M1/4634B,12,7,110,206,23/11/21,23:59,4,2,0,...,-1,-1,-1,166,0,0,0,-1,-1,-1

In [8]:
df.dtypes

Geographic Address     object
CO Address              int64
LCC Address             int64
Transponder Address     int64
Device Address          int64
Date                   object
Time                   object
Number of Lanes         int64
Flow(Category 1)        int64
Flow(Category 2)        int64
Flow(Category 3)        int64
Flow(Category 4)        int64
Speed(Lane 1)           int64
Speed(Lane 2)           int64
Speed(Lane 3)           int64
Speed(Lane 4)           int64
Speed(Lane 5)           int64
Speed(Lane 6)           int64
Speed(Lane 7)           int64
Flow(Lane 1)            int64
Flow(Lane 2)            int64
Flow(Lane 3)            int64
Flow(Lane 4)            int64
Flow(Lane 5)            int64
Flow(Lane 6)            int64
Flow(Lane 7)            int64
Occupancy(Lane 1)       int64
Occupancy(Lane 2)       int64
Occupancy(Lane 3)       int64
Occupancy(Lane 4)       int64
Occupancy(Lane 5)       int64
Occupancy(Lane 6)       int64
Occupancy(Lane 7)       int64
Headway(Lane 1)         int64
Headway(Lane 2)         int64
Headway(Lane 3)         int64
Headway(Lane 4)         int64
Headway(Lane 5)         int64
Headway(Lane 6)         int64
Headway(Lane 7)         int64
dtype: object

In [32]:
# create a new column for total flow for each row || run once
df['TotalFlow'] = df['Flow(Lane 1)'] + df['Flow(Lane 2)'] + df['Flow(Lane 3)'] + df['Flow(Lane 4)'] + df['Flow(Lane 5)'] + df['Flow(Lane 6)'] + df['Flow(Lane 7)']
df['datetime'] = pd.to_datetime((df['Date'] + " " + df['Time']), infer_datetime_format=True)
df['hour'] = df['datetime'].dt.hour
df['date'] = df['datetime'].dt.date
#df['Time'] = pd.to_datetime(df['Time'],format= '%H:%M' )

In [38]:
# create a new column for total flow for each row || run once
df['TotalFlow'] = df['Flow(Lane 1)'] + df['Flow(Lane 2)'] + df['Flow(Lane 3)'] + df['Flow(Lane 4)']
df['datetime'] = pd.to_datetime((df['Date'] + " " + df['Time']), infer_datetime_format=True)
df['hour'] = df['datetime'].dt.hour
df['date'] = df['datetime'].dt.date
#df['Time'] = pd.to_datetime(df['Time'],format= '%H:%M' )

0        0
1        0
2        0
3        0
4        0
        ..
8635    23
8636    23
8637    23
8638    23
8639    23
Name: hour2, Length: 8640, dtype: int64

In [39]:
M6_total_hr = df.groupby(["Geographic Address", "date", "hour"])["TotalFlow"].sum()
M6_total_hr

Geographic Address  date        hour
M6/5606A            2022-01-02  0        564
                                1        461
                                2        425
                                3        523
                                4        620
                                        ...
                    2022-02-02  19      2331
                                20      1632
                                21      1114
                                22      1035
                                23       662
Name: TotalFlow, Length: 168, dtype: int64

In [33]:
M1_total_hr = df.groupby(["Geographic Address", "date", "hour"])["TotalFlow"].sum()
M1_total_hr

Geographic Address  date        hour
M1/4589A            2022-01-02  0.0      116.0
                                1.0       71.0
                                2.0       79.0
                                3.0       85.0
                                4.0      243.0
                                         ...
M1/4589B            2022-02-02  19.0    1517.0
                                20.0    1015.0
                                21.0     705.0
                                22.0    1541.0
                                23.0     403.0
Name: TotalFlow, Length: 336, dtype: float64

In [40]:
M6_total_hr.to_csv('M6.csv')
from google.colab import files
files.download("M6.csv")

SyntaxError: ignored